
.icon-cw:before { content: '\e800'; } /* '' */
.icon-arrows-cw:before { content: '\e801'; } /* '' */
.icon-print:before { content: '\e802'; } /* '' */
.icon-home:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-suitcase:before { content: '\f0f2'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */